{% extends 'base/front_base.html' %}
{% load staticfiles %}

{% block title %}课程详情{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/course/course_detail.min.css' %}">

{% endblock %}

{% block main %}

    <div class="main">
        <div class="course-nav">
            <div class="nav-container">
                <h3 class="title">在线课堂</h3>
                <ul class="nav-list">
                    <li class="active"><a href="#">最新课堂</a></li>
                    <li><a href="#">投资人说</a></li>
                    <li><a href="#">明星案例</a></li>
                    <li><a href="#">创业知识</a></li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <div class="course-wrapper">
                <div class="course-info">
                    <p class="course-title">对赌是什么　该不该做对赌</p>
                    <div class="price-group">
                        <div class="share-group">
                            <span class="title">分享至 : 微信 / 微博</span>
                        </div>
                        <div class="buy-group">
                            <span class="price pay">$49.0</span>
                            <a href="#" class="buy-btn">立即购买</a>
                        </div>
                    </div>
                </div>
                <div class="video-group">

                </div>
            </div>
            <div class="bottom-wrapper">
                <div class="course-detail-wrapper">
                    <div class="item-group">
                        <p class="item-title">课程讲师</p>
                        <div class="teacher-group">
                            <div class="avatar-group">
                                <img src="https://static-image.xfz.cn/1508120374_220.jpg" alt="">
                            </div>
                            <div class="teacher-info">
                                <p class="teacher-name">知了课堂</p>
                                <p class="teacher-desc">专业投资人；一线基金董事总经理</p>
                            </div>
                        </div>
                        <p class="item-content">
                            乔继英，专业投资人，一线基金董事总经理，十五年以上研发、市场销售、投资经验，投资领域覆盖天使投资、
                            中早期风险投资、PE投资、并购、母基金FOF投资等领域。代表案例：华润凤凰（1515.HK）、微芯生物、二毛照护、九鼎美元基金等。
                            个人间接投资摩拜单车、硅谷大数据公司Palantir等。曾在淡马锡祥峰投资、蓝驰创投、启迪创投等工作，世界五百强公司研发、市场销售主管。
                            北京市高精尖产业基金评审组长、知名证券公司专业专家。清华大学本科、医学院博士、校友导师，曾与哈佛大学合作课题；香港中文大学金融MBA、客座讲师。
                        </p>
                    </div>
                    <div class="item-group">
                        <p class="item-title">课程简介</p>
                        <p class="item-content">
                            危机公关需要掌握好“度”——速度。
                            添加微信号：onemoreholiday，免费完整课程。
                        </p>
                    </div>
                    <div class="item-group">
                        <p class="item-title">课程大纲</p>
                        <p class="item-content">
                            面对危机公关，多快算快？
                            面对危机公关，谁出面做解释和声明最有效？
                            案例分析：戴尔和罗永浩
                            危机公关，真的是“唯快不破”吗？
                        </p>
                    </div>
                    <div class="item-group">
                        <p class="item-title">适应人群</p>
                        <p class="item-content">
                            乔继英，专业投资人，一线基金董事总经理，十五年以上研发、市场销售、投资经验，投资领域覆盖天使投资、 。代表案例：华润凤凰（1515.HK）、微芯生物、二毛照护、九鼎美元基金等。
                            组长、知名证券公司专业专家。清华大学本科、医学院博士、校友导师，曾与哈佛大学合作课题；香港中文大学金融MBA、客座讲师。
                        </p>
                    </div>
                    <div class="item-group">
                        <p class="item-title">帮助中心</p>
                        <p class="item-content">
                            知名证券公司专业专家。清华大学本科、医学院博士、校友导师，曾与哈佛大学合作课题；香港中文大学金融MBA、客座讲师。
                        </p>
                    </div>
                    <div class="item-group">
                        <p class="item-title">关于课堂</p>
                        <p class="item-content">
                            乔继英，专业投资人，一线基金董事总经理，十五年以上研发、市场销售、投资经验，投资领域覆盖天使投资、
                            知名证券公司专业专家。清华大学本科、医学院博士、校友导师，曾与哈佛大学合作课题；香港中文大学金融MBA、客座讲师。
                        </p>
                    </div>
                </div>
                <div class="recommand-wrapper">
                    <p class="recommand-title">推荐课程</p>
                    <ul class="course-list">
                        <li>
                            <a href="#">
                                <div class="course-info-group">
                                    <p class="course-title">
                                        未来消费：如何把握潮水的方向
                                    </p>
                                    <p class="teacher">
                                        知了课堂CEO
                                    </p>
                                </div>
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1534236783_765.png-course.list.small" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="course-info-group">
                                    <p class="course-title">
                                        如何把握潮水的方向
                                    </p>
                                    <p class="teacher">
                                        知了课堂CEO
                                    </p>
                                </div>
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1534236783_765.png-course.list.small" alt="">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


