{% extends 'base/front_base.html' %}
{% load staticfiles %}

{% block title %}小饭桌 - 首页{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/news/index.min.css' %}">
    <script src="{% static 'js/index.min.js' %}"></script>

{% endblock %}

{% block main %}

    <div class="main">
        <div class="wrapper">
        <div class="news-wrapper">
            <div class="banner-group" id="banner-group">
                <ul class="banner-ul" id="banner-ul">
                    <li>
                        <a href="">
                            <img src="https://static-image.xfz.cn/1537511352_611.jpeg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://static-image.xfz.cn/1539770831_872.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://static-image.xfz.cn/1537511352_611.jpeg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://static-image.xfz.cn/1539770831_872.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://static-image.xfz.cn/1539770831_872.jpg" alt="">
                        </a>
                    </li>
                </ul>
                <span class="arrow left-arrow">‹</span>
                <span class="arrow right-arrow">›</span>
                <div class="page-control-group">
                    <ul class="page-control">
                        <!--<li class="active"></li>
                        <li></li>
                        <li></li>
                        <li></li>-->
                    </ul>
                </div>
            </div>
            <div class="list-outer-group">
                <ul class="list-tab">
                    <li class="active"><a href="#">最新资讯</a></li>
                    <li><a href="#">热点</a></li>
                    <li><a href="#">深度报道</a></li>
                    <li><a href="#">干活分享</a></li>
                    <li><a href="#">投资人说</a></li>
                </ul>
                <ul class="list-inner-group">
                    <li>
                        <div class="thumbnail-group">
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1542246847_131.jpeg-website.news.list" alt="">
                            </a>
                        </div>
                        <div class="news-group">
                            <p class="title">
                                <a href="#">
                                    创业者生存状况调研报告发布， 六成创业公司面临融资难
                                </a>
                            </p>
                            <p class="desc">
                                调研结果显示：74%的创业公司表示受到市场寒冬影响，60%的创业公司遇到融资困难，64%的创业公司在今年没有完成业务目标。
                            </p>
                            <p class="more">
                                    <span class="category">
                                        深度报道
                                    </span>
                                <span class="pub-time">
                                        1小时前
                                    </span>
                                <span class="author">
                                        浩哥哥哦
                                    </span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="thumbnail-group">
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1542246847_131.jpeg-website.news.list" alt="">
                            </a>
                        </div>
                        <div class="news-group">
                            <p class="title">
                                <a href="#">
                                    创业者生存状况调研报告发布， 六成创业公司面临融资难
                                </a>
                            </p>
                            <p class="desc">
                                调研结果显示：74%的创业公司表示受到市场寒冬影响，60%的创业公司遇到融资困难，64%的创业公司在今年没有完成业务目标。
                            </p>
                            <p class="more">
                                    <span class="category">
                                        深度报道
                                    </span>
                                <span class="pub-time">
                                        1小时前
                                    </span>
                                <span class="author">
                                        浩哥哥哦
                                    </span>
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="load-more-group">
                    <button class="load-more">
                        查看更多
                    </button>
                </div>
            </div>
        </div>

        {% include 'common/sidebar.html' %}

    </div>
    </div>

{% endblock %}

