<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻详情-小饭桌</title>
    <link rel="stylesheet" href="../../dist/css/news/news_detail.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_681895_q7ptjm0r8n.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo-box">
            <a href="/"></a>
        </div>
        <ul class="nav">
            <li class="active"><a href="/">创业资讯</a></li>
            <li><a href="/">创业课堂</a></li>
            <li><a href="/">付费资讯</a></li>
            <li><a href="/">搜索</a></li>
        </ul>

        <div class="auth-box">
            <i class="icon-person iconfont"></i>
            <a href="#">登录</a> /
            <a href="#">注册</a>
        </div>
    </div>
</header>

<div class="main">
    <div class="wrapper">
        <div class="news-wrapper">
            <h1 class="title">
                大疆创新与苹果公开发售特洛，Tello EDU教育编程无人机
            </h1>
            <div class="news-info">
                <div class="info-group">
                    <span class="author">阿里巴巴</span>
                    <span class="pub-time">11月15日</span>
                    <span class="category">热点</span>
                </div>
                <div class="share-group">
                    <span class="title">分享至:</span>
                    <a href="#" class="weixin"></a>
                    <a href="#" class="weibo"></a>
                </div>
            </div>
            <article class="article">
                11月14日，全球民用无人机及航拍技术DJI大疆创新与苹果公司宣布，将在各自官方渠道公开销售特洛Tello EDU教育编程无人机，为全球青少年及无人机爱好者带来这一优秀的教育科技产品。

                Tello EDU教育编程无人机由初创企业睿炽科技推出，在特洛Tello趣味无人机的基础上进行全面升级。新开放的SDK2.0令其更适合教育场景。Tello
                EDU支持包括Scratch、Swift、Python、C++在内的多种编程语言，可在室内进行多机编队飞行，独创的多功能配件“挑战卡”则让Tello
                EDU在没有GPS的情况下也能获取自身在三维空间中的精准位置。

                睿炽科技表示，特洛Tello
                EDU专为教育领域的场景和需求而设计，是一款独一无二的教育编程无人机。自面向学校与教育机构推出以来，成功应用到无数的课堂和夏令营等教育活动中，成为目前无人机科普、编程教育的重要STEAM教具之一。Tello
                EDU将帮助更多孩子提升在三维空间中的分析解决能力，让更多的孩子享受到学习物理、工程以及计算机编程等领域知识的多元趣味方式。
            </article>
            <div class="comment-wrapper">
                <h3 class="title">文章评论(0)</h3>
                <textarea class="comment-textarea logined-textarea" name="comment" id="" readonly placeholder="立即登录，参与评论～"></textarea>
                <div class="submit-btn-group">
                    <button class="submit-btn">立即评论</button>
                </div>
                <ul class="comment-list">
                    <li>
                        <div class="comment-info">
                            <img src="https://static-image.xfz.cn/1542376201_968.jpg" class="avatar">
                            <span class="author">你浩哥</span>
                            <span class="pub-time">１小时前</span>
                        </div>
                        <div class="comment-content">
                            这是第一条评论...
                        </div>
                    </li>
                    <li>
                        <div class="comment-info">
                            <img src="https://static-image.xfz.cn/1542376201_968.jpg" class="avatar">
                            <span class="author">你浩哥</span>
                            <span class="pub-time">１小时前</span>
                        </div>
                        <div class="comment-content">
                            这是第一条评论...
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar-wrapper">
            <div class="title-group">
                        <span class="title">
                            在线课堂
                        </span>
                <a href="#" class="more">更多</a>
            </div>
            <div class="advertise-group">
                <a href="#">
                    <img src="https://static-image.xfz.cn/1534236783_765.png" alt="">
                </a>
            </div>
            <div class="platform-group">
                <div class="title-group">
                        <span class="title">
                            关注小饭桌
                        </span>
                </div>
                <div class="focus-group">
                    <ul class="left-group">
                        <li class="zhihu">
                            <a href="#" target="_blank">
                                小饭桌创业课堂
                            </a>
                        </li>
                        <li class="weibo">
                            <a href="#" target="_blank">
                                小饭桌课堂
                            </a>
                        </li>
                        <li class="toutiao">
                            <a href="#" target="_blank">
                                小饭桌创业
                            </a>
                        </li>
                    </ul>
                    <div class="right-group">
                        <p class="desc">
                            扫码关注小饭桌微信公众号xxx
                        </p>
                    </div>
                </div>
                <div class="hot-news-group">
                    <div class="title-group">
                            <span class="title">
                                热门推荐
                            </span>
                    </div>
                    <ul class="hot-list-group">
                        <li>
                            <div class="left-group">
                                <p class="title">
                                    <a href="#">
                                        扫码关注小饭桌微信公众号小饭桌创业...
                                    </a>
                                </p>
                                <p class="more">
                                        <span class="category">
                                            深度报道
                                        </span>
                                    <span class="pub-time">
                                            １小时前
                                        </span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href="#">
                                    <img src="https://static-image.xfz.cn/1541982696_855.jpeg-website.news.list" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="left-group">
                                <p class="title">
                                    <a href="#">
                                        扫码关注小饭桌微信公众号小饭桌创业...
                                    </a>
                                </p>
                                <p class="more">
                                        <span class="category">
                                            深度报道
                                        </span>
                                    <span class="pub-time">
                                            １小时前
                                        </span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href="#">
                                    <img src="https://static-image.xfz.cn/1541982696_855.jpeg-website.news.list" alt="">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="top-group">
        <div class="top-inner-group">
            <div class="logo-box">

            </div>
            <div class="detail-group">
                <div class="line1">
                    <ul class="links">
                        <li><a href="#">关于小饭桌</a></li>
                        <li><a href="#">创业课堂</a></li>
                        <li><a href="#">寻求报道</a></li>
                        <li><a href="#">创业礼包</a></li>
                    </ul>
                    <div class="about-us">
                        <span class="title">关于我们:</span>
                        <ul class="social-group">
                            <li class="weixin">
                                <a class="text" href="#">小饭桌</a>
                                <div class="wx-qrcode">

                                </div>
                            </li>
                            <li class="weibo"><a class="text" href="#">小饭桌课堂</a></li>
                        </ul>
                    </div>
                </div>
                <div class="line2">
                    <p class="address">
                        地址：北京市朝阳区东三环北路38号院泰康金融大厦
                    </p>
                    <p class="contact">
                        客服电话： 400-810-1090 (工作日10点－18点)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-group">
        ©2018 北京子木投资顾问有限公司 京ICP备15051289号 | 增值电信业务经营许可证：京B2-20170574
    </div>
</footer>

</body>
</html>