{% extends 'base/front_base.html' %}
{% load staticfiles %}
{% load news_filters %}

{% block title %}新闻详情 - 小饭桌{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/news/news_detail.min.css' %}">
    <script src="{% static 'arttemplate/template-web.js' %}"></script>
    <script src="{% static 'js/news_detail.min.js' %}"></script>

{#    <script id="comment-item" type="text/html">#}
{##}
{#    {% verbatim %}#}
{#        <li>#}
{#            <div class="comment-info">#}
{#                <img src="https://static-image.xfz.cn/1542376201_968.jpg" class="avatar">#}
{#                <span class="author">{{ comment.author.username }}</span>#}
{#                <span class="pub-time">{{ comment.pub_time }}</span>#}
{#            </div>#}
{#            <div class="comment-content">#}
{#                {{ comment.content }}#}
{#            </div>#}
{#        </li>#}
{#    {% endverbatim %}#}
{##}
{#    </script>#}


{% endblock %}

{% block main %}

    <div class="main">
    <div class="wrapper">
        <div class="news-wrapper">
            <h1 class="title">
                {{ news.title }}
            </h1>
            <div class="news-info">
                <div class="info-group">
                    <span class="author">{{ news.author.username }}</span>
                    <span class="pub-time">{{ news.pub_time|time_since }}</span>
                    <span class="category">{{ news.category.name }}</span>
                </div>
                <div class="share-group">
                    <span class="title">分享至:</span>
                    <a href="#" class="weixin"></a>
                    <a href="#" class="weibo"></a>
                </div>
            </div>
            <article class="article">
                {{ news.content|safe }}
            </article>
            <div class="comment-wrapper">
                <h3 class="title">文章评论(0)</h3>
                <textarea class="comment-textarea logined-textarea" name="comment" id="" placeholder="立即登录，参与评论～"></textarea>
                <div class="submit-btn-group">
                    <button class="submit-btn" data-news-id="{{ news.id }}">立即评论</button>
                </div>
                <ul class="comment-list">
                    {% for comment in news.comment_set.all %}

                        <li>
                            <div class="comment-info">
                                <img src="https://static-image.xfz.cn/1542376201_968.jpg" class="avatar">
                                <span class="author">{{ comment.author.username }}</span>
                                <span class="pub-time">{{ comment.pub_time|timesince }}前</span>
                            </div>
                            <div class="comment-content">
                                {{ comment.content }}
                            </div>
                        </li>

                    {% endfor %}

                </ul>
            </div>
        </div>

        {% include 'common/sidebar.html' %}

    </div>
</div>

{% endblock %}


